
main {
    display: flex;
    background-color: lightgrey;
}

.menu {
    display: flex;
    flex-direction: row;
}

.items {
    display: flex;
    flex-direction: column;
}

.item {
    display: flex;
    flex-direction: row;
}